.form__title {
  font-size: 3rem;
  text-align: center;
}

.form__subtitle {
  margin-top: 10px;

  font-size: 1.4rem;
  font-weight: normal;
}

.form__body {
  margin-top: 20px;
}

.form__label {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 180px 200px auto;
  grid-column-gap: 10px;
  align-items: center;
}



.label__input {
  height: 25px;
}

.label__title {
  font-size: 1.4rem;
}

.label__error {
  font-size: 1.4rem;
}

.form__submit {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
