.charts__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}



@media screen and (max-width: 1240px) {
  .charts__body {
    grid-template-rows: 400px 400px;
  }
}


@media screen and (max-width: 992px) {
  .charts__body {
    grid-column-gap: 100px;
    grid-template-rows: 480px 480px;

  }
}



@media screen and (max-width: 768px) {
  .charts__body {
    grid-template-columns: 70%;
    justify-content: center;
    grid-template-rows: repeat(4, 500px);

  }
}

