.chart__body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.chart__title {
  font-size: 2rem;
  text-align: center;
}

.chart__chart {
  margin-top: 10px;
}

.chart__body_gender {
  grid-column: 1/3;
}

.chart__result {
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .chart__body_gender {
    grid-column: 1/2;
  }
}


@media screen and (max-width: 576px) {
  .chart__result {
    font-size: 1.2rem;
    line-height: 1.4rem;

  }
}
