.home__body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-column-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
}

.home__slider {
  margin-top: 20px;
}

.home__test {
  padding: 40px 60px;

  background: var(--background-color-light-blue);
  border-radius: 15px;
}


.home__celebrities {
  padding-top: 60px;
  padding-bottom: 60px;
}


.home__average {
  padding-top: 20px;
}

.home__charts {
  margin-top: 20px;
}

.home__description {
  margin-top: 20px;
}
