.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  height: 100%;

  background: var(--background-color-white);
  color: var(--font-color-black);
  font-size: 1.8rem;

  flex-grow: 2;
}
