.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  height: 100%;

  font-size: 1.6rem;
  line-height: 140%;

  background: var(--background-color-white);
  color: var(--font-color-black);
  

  flex-grow: 2;
}
