.sidebar__row {
  margin-bottom: 50px;
}

.sidebar__title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 124.1%;
  /* or 22px */

  text-align: center;
}

.sidebar__title_period {
  font-weight: normal;
  font-size: 1.4rem;
}

.sidebar__track {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
}


@media screen and (max-width: 992px) {
  .sidebar__row {
    margin-bottom: 0;
  }
  .sidebar__results {
    position: relative;
  }

  .sidebar__track {
    position: relative;
    left: 120%;
    grid-auto-flow: column;
    grid-column-gap: 30px;

    animation: scroll 50s infinite linear;
  }

  .sidebar__row_top {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .sidebar__title {
    font-size: 1.6rem;
  }
}







@keyframes scroll {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-730%)
  }
}
