.section__title {
  font-weight: 700;
  font-size: 6.6rem;
  line-height: 7rem;
}

.section__subtitle {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
}


.section__bar {
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: inline-flex;
  align-items: center;

  color: var(--font-color-white);


  background: var(--background-color-blue);
  border-radius: 12px;
}

.bar__item {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  align-items: center;

  font-size: 1.8rem;

  border-right: 2px solid var(--background-color-white); 
}

.bar .bar__item:last-child {
  border-right: none
}

.section__description {
  margin-top: 35px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 25px;
}

.description__item {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 12px;
  font-size: 1.8rem;
}

.description__image {
  display: grid;
  justify-items: center;
}

button.section__button {
  margin-top: 50px;
  height: 70px;
  padding: 0 60px;

  font-weight: 700;
  font-size: 1.8rem;
}


@media screen and (max-width: 1240px) {
  .section__title {
    font-size: 5.8rem;
  }


  .bar__item {
    padding-left: 20px;
    padding-right: 20px;
    grid-column-gap: 10px;
  }

  button.section__button {
    margin-top: 35px;
    padding: 0 40px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .section__subtitle {
    margin-top: 5px;
    font-size: 1.8rem;
    line-height: 2rem;
  }


  .section__bar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bar__item {
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    grid-column-gap: 5px;
  }

  .section__description {
    margin-top: 15px;
    grid-row-gap: 15px;
  }

  .description__item {
    font-size: 1.6rem;
  }

  .description__image {
    transform: scale(0.8);
  }

  button.section__button {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    height: 40px;
    font-size: 1.6rem;
  }
}


@media screen and (max-width: 576px) {
  .section__title {
    font-size: 3.2rem;
    line-height: 3rem;
  }

  .section__subtitle {
    margin-top: 5px;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .section__bar {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    justify-content: start;
  }

  .bar__item {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 20px 1fr;
    justify-items: start;
  }
  .bar .bar__item:nth-child(2) {
    border-right: none
  }
}
