.section__title {
  font-weight: 700;
  font-size: 6.6rem;
  line-height: 7rem;
}

.section__subtitle {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
}


.section__bar {
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: inline-flex;
  align-items: center;

  color: var(--font-color-white);


  background: var(--background-color-blue);
  border-radius: 12px;
}

.bar__item {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  align-items: center;

  font-size: 1.8rem;

  border-right: 2px solid var(--background-color-white); 
}

.bar .bar__item:last-child {
  border-right: none
}

.section__description {
  margin-top: 35px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 25px;
}

.description__item {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 12px;
  font-size: 1.8rem;
}

.description__image {
  display: grid;
  justify-items: center;
}

button.section__button {
  margin-top: 50px;
  height: 70px;
  padding: 0 60px;

  font-weight: 700;
  font-size: 1.8rem;
}
